/********************************************************************/
/*                               RESET                              */
/********************************************************************/
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

.page-center {
  max-width: 1200px;
  margin: 0 auto;
  float: none;
}
.box-2.page-center,
.box-3.page-center,
.box-4.page-center,
.box-5.page-center {
  padding-left: 5%;
  padding-right: 5%;
}

.box-1_container_mobile {
  display: none;
}
/********************************************************************/
/*                               BOX 1                              */
/********************************************************************/

.box-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: white;
}

.box-1_container.left {
  grid-column-start: 1;
  grid-column-end: 4;

  background-color: red;
  background-image: linear-gradient(#ed1c24, #f15421);

  display: flex;
  justify-content: center;
  padding-top: 10%;
}
.box-1_container.left h2 {
  font-size: 12em;
  font-weight: 100;
}

.box-1_container.right {
  grid-column-start: 4;
  grid-column-end: 13;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  min-height: 500px;
  background: transparent;
}

.box-1_menu,
.box-1_text,
.box-1_cta,
.box-1_container_mobile {
  z-index: 2;
}

.box-1_menu {
  flex-direction: flex-end;
  grid-row-start: 1;
}
.box-1_menu nav {
}

.box-1_menu nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
.box-1_menu nav > ul > li {
  padding: 40px 40px 0px 40px;
}
.box-1_menu nav > ul > li > a {
  text-decoration: none;
  color: white;
}

.box-1_text {
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
}
.box-1_text h1 {
  font-size: 3.3em;
}
.box-1_text h3 {
  padding-top: 15px;
  font-size: 2em;
}

.box-1_text .box-1_cta {
  padding-top: 80px;
}
.box-1_text .box-1_cta button {
  background-color: transparent;
  color: #ed1c24;
  border-style: solid;
  border-width: 2px;
  -moz-border-image: -moz-linear-gradient(left, #ed1c24 0%, #f7931e 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #ed1c24 0%, #f7931e 100%);
  border-image: linear-gradient(to right, #ed1c24 0%, #f7931e 100%);
  border-image-slice: 1;
  padding: 10px 80px 10px 80px;
  font-size: 1.7em;
}

/********************************************************************/
/*                               BOX 2                              */
/********************************************************************/
.box-2_background {
  background: #e6e6e6;
}
.box-2 {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}

.box-2_img {
  padding-top: 150px;
  padding-bottom: 150px;
}
.box-2_img img {
  min-width: 400px;
  max-width: 600px;
  width: auto;
  height: auto;
}

.box-2_text {
  padding-top: 150px;
  padding-left: 80px;
}
.box-2_text h2 {
  font-size: 2.7em;
}
.box-2_text h4 {
  padding-top: 30px;
  font-size: 1.5em;
}

/********************************************************************/
/*                               BOX 3                              */
/********************************************************************/
.box-3_background {
  /* background: black url(/_assets/img-text.svg);
  background-size: contain;
  background-attachment: fixed; */
  min-height: 500px;
  background: transparent;
}
.box-3.page-center {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  color: white;

  padding: 150px 0px 150px 0px;
  z-index: 2;
}

.box-3_flex-module_container {
}

.box-3_flex-module_container.top h2 {
  text-align: center;
  font-size: 2.8em;
  padding: 0px 0px 80px 0px;
}

.box-3_flex-module_container_patern.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
}

.box-3_flex-module_container_child.top {
  width: 70%;
}
.box-3_flex-module_container_child.top img {
  max-width: 200px;
  min-width: 200px;
}
.box-3_flex-module_container_child.top h4 {
  font-size: 1.8em;
}

.box-3_container {
  text-align: center;
}

.box-3_flex-module_container.bottom h2 {
  font-size: 2.8em;
  text-align: left;
  padding: 150px 15% 30px 15%;
}

.box-3_container_row.bottom {
  display: grid;
  grid-template-columns: 100px 1fr 50px;
  grid-template-rows: 1 !important;
  column-gap: 5px;
  margin: 2% 15% 0px 15%;
  align-items: center;
}

.box-3_container_row.bottom progress {
  -webkit-appearance: none;
  width: 100%;
  padding: 0px 15px 0px 15px;
  height: 8px;
}
::-webkit-progress-bar {
  background-color: #333333;
  border-radius: 15px;
}
::-webkit-progress-value {
  background-image: linear-gradient(to right, #ed1c24 0%, #f7931e 100%);
  background-image: -moz-linear-gradient(left, #ed1c24 0%, #f7931e 100%);
  background-image: -webkit-linear-gradient(left, #ed1c24 0%, #f7931e 100%);
  background-image: linear-gradient(to right, #ed1c24 0%, #f7931e 100%);
  border-radius: 15px;
}

/********************************************************************/
/*                               BOX 4                              */
/********************************************************************/
.box-4_background {
  background: #e6e6e6;
}

.box-4 {
  padding: 150px 0px 150px 0px;
}

.box-4_container-patern {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}
.box-4_container-child {
  width: 33%;
}

.box-4_container-main h2 {
  text-align: center;
  font-size: 2.8em;
  padding: 0px 0px 80px 0px;
}

/********************************************************************/
/*                               BOX 5                              */
/********************************************************************/
.box-5_background {
  position: relative;
  background-image: linear-gradient(to right, #ed1c24 0%, #f7931e 100%);
  background-image: -moz-linear-gradient(left, #ed1c24 0%, #f7931e 100%);
  background-image: -webkit-linear-gradient(left, #ed1c24 0%, #f7931e 100%);
  background-image: linear-gradient(to right, #ed1c24 0%, #f7931e 100%);
  background-size: 100% auto;
  z-index: 1;
}

.box-black {
  content: '';
  position: absolute;
  min-height: 300px;
  background: black;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
}

.box-5 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;

  padding: 100px 0px;
}

.box-5_container.left {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 7;

  padding-top: 50px;
}

.box-5_container.right {
  grid-row-start: 1;
  grid-column-start: 8;
  grid-column-end: 13;
}

.box-5_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;

  box-shadow: 3px 3px 3px #939393;
  z-index: 999;
}

input[type='text'],
input[type='tel'],
input[type='email'] {
  width: 100%;
  height: 30px;
  border: 0px;
  border-bottom: 1px solid #999999;
  margin-top: 8px;
  padding: 1px 3px 1px 3px;
  font-weight: bold;
}
textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  margin-top: 8px;
  padding: 1px 3px 1px 3px;
  font-weight: bold;
}
label {
  font-weight: bold;
}
input::-webkit-input-placeholder {
}

.box-5_form-button {
  text-align: center;
}

input[type='submit'] {
  background-color: transparent;
  color: #ed1c24;
  border: 3px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #ed1c24 0%, #f7931e 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #ed1c24 0%, #f7931e 100%);
  border-image: linear-gradient(to right, #ed1c24 0%, #f7931e 100%);
  border-image-slice: 1;
  padding: 8px 40px 8px 40px;
  font-size: 1em;

  width: 100% !important;
}

.box-5_form-nome,
.box-5_form-sobrenome,
.box-5_form-fone,
.box-5_form-email,
.box-5_form-message,
.box-5_form-button {
  padding-top: 20px;
}

.box-5_text {
}
.box-5_text h2 {
  font-size: 2.7em;
}
.box-5_text h4 {
  padding-top: 40px;
  font-size: 1.5em;
}

/*****************************************************************************/
/*                               RESPONSIVIDADE                              */
/*****************************************************************************/
@media only screen and (max-width: 1024px) {
  .box-1_container.left {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .box-1_container.right {
    grid-column-start: 4;
    grid-column-end: 13;
    grid-template-rows: 200px 1fr 200px;
  }
  .box-1_menu nav > ul > li {
    padding: 40px 20px 0px 20px;
  }

  .box-1_container.left h2 {
    font-size: 10em;
    font-weight: 100;
  }

  .box-1_text {
    padding-left: 80px;
  }

  .box-1_text h1 {
    font-size: 3em;
  }
  .box-1_text h3 {
    font-size: 1.7em;
  }

  .box-1_text .box-1_cta button {
    padding: 10px 70px 10px 70px;
    font-size: 1.5em;
  }

  .box-5_container.left {
    grid-column-end: 8;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 1024px) {
  .box-1_container.left h2 {
    font-size: 8em;
    font-weight: 100;
  }

  .box-1_menu nav > ul > li {
    padding: 40px 10px 0px 10px;
  }

  .box-2_text {
    padding-top: 150px;
    padding-left: 30px;
  }

  .box-2_img img {
    min-width: 300px;
    max-width: 600px;
    width: auto;
    height: auto;
  }

  .box-2_img,
  .box-2_text {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .box-2 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .box-black {
    content: '';
    position: absolute;
    height: 200px;
    background: black;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .box-1_container_mobile {
    display: block !important;
    grid-row-start: 1;
  }

  .box-1_container_mobile h2 {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 4em;
  }

  .box-1_container.left,
  nav {
    display: none !important;
  }

  .box-1_container.right {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-template-rows: 200px 1fr 200px;
  }

  .box-1_text {
    padding-left: 10%;
    padding-right: 10%;
  }
  .box-1_text h1 {
    font-size: 2.7em;
    line-height: 45px;
  }

  .box-2 {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
  }

  .box-2_img,
  .box-2_text {
    padding-top: 0px;
  }

  .box-2_text h2 {
    font-size: 2.1em;
  }

  .box-2_img {
    text-align: center;
  }

  .box-2_img img {
    min-width: 250px;
    width: 250px;
  }

  .box-3_flex-module_container.top h2 {
    font-size: 2.3em;
  }

  .box-3_flex-module_container_patern.top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
  }

  .box-3_flex-module_container_child.top {
    padding: 20px;
  }

  .box-3_flex-module_container.bottom h2 {
    font-size: 2.3em;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .box-3_flex-module_container_child.top img {
    min-width: 170px;
    width: 170px;
  }

  .box-4 {
    padding: 80px 0px 80px 0px;
  }

  .box-4_container-main h2 {
    font-size: 2.3em;
    padding: 0px 0px 40px 0px;
    text-align: left;
    line-height: 37px;
  }

  .box-4_container-patern {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .box-4_container-child {
    width: 100%;
  }
  .box-4_text h3 {
    text-align: center;
  }

  .box-5 {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
  }

  .box-5_container.left {
    padding: 5%;
  }
  .box-5_text h2 {
    font-size: 2.3em;
    line-height: 37px;
  }
  .box-5_container.right {
    padding-top: 50px;
  }
}
